@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(70.5% 0.213 47.604);
  --color-secondary: teal;
  --color-accent:#E74C3C;
}
.customBtn{
  @apply btn  text-white bg-gray-800
  opacity-90 hover:opacity-100 
transition-all duration-1000 ease-in-out  hover:shadow-sm hover:shadow-teal-300/50
}
.customBtn1{
  @apply btn  text-white bg-teal-600
  opacity-90 hover:opacity-100 
transition-all duration-1000 ease-in-out  hover:shadow-sm hover:shadow-teal-300/50
}



.active{
  @apply text-gray-700 border-b-2 dark:text-gray-200
}