@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.customBtn{
  @apply bg-linear-to-r from-purple-500 to-pink-500
  opacity-90 hover:opacity-100 
transition-all duration-1000 ease-in-out  hover:shadow-lg hover:shadow-purple-300/50
}